<h2 id="title">{{if model.testing 'Testing...' 'Tests Complete!'}}</h2>

{{#each model.testCases as |test|}}
	<p>
		<strong class='{{if test.pass 'green' 'red'}}'>
			{{if test.pass 'PASS' 'FAIL'}}
		</strong>
		{{test.msg}}

		{{#if test.href}}
			<a href="{{{test.href}}}" target="_blank">
				(read)
			</a>
		{{/if}}
	</p>
{{/each}}


{{outlet}}
